/*// @font-face {*/
/*//     font-family: 'Nimbus Sans L';*/
/*//     src: url('fonts/nimbus-sans-l_bold-webfont.eot');*/
/*//     src: url('fonts/nimbus-sans-l_bold-webfont.eot?#iefix') format('embedded-opentype'),*/
/*//          url('fonts/nimbus-sans-l_bold-webfont.woff2') format('woff2'),*/
/*//          url('fonts/nimbus-sans-l_bold-webfont.woff') format('woff'),*/
/*//          url('fonts/nimbus-sans-l_bold-webfont.ttf') format('truetype'),*/
/*//          url('fonts/nimbus-sans-l_bold-webfont.svg#nimbus_sans_lbold') format('svg');*/
/*//     font-weight: bold;*/
/*//     font-style: normal;*/

/*// }*/


@font-face {
    font-family: 'Nimbus Sans L';
    src: url('fonts/nimbus-sans-l_regular-webfont.eot');
    src: url('fonts/nimbus-sans-l_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nimbus-sans-l_regular-webfont.woff2') format('woff2'),
         url('fonts/nimbus-sans-l_regular-webfont.woff') format('woff'),
         url('fonts/nimbus-sans-l_regular-webfont.ttf') format('truetype'),
         url('fonts/nimbus-sans-l_regular-webfont.svg#nimbus_sans_lregular') format('svg');
    font-weight: normal;
    font-style: normal;

}