$barra-superior__alto: 3em;

@import "templates/portfolio__projects";




.barra-superior{
  padding-top: 1em;
  height: $barra-superior__alto;
  overflow: hidden;
  position: relative;
  background-color: white;
  display: block;
  z-index: 999;
}

.sitio{
  height: 100%;
  min-height: 100%;
}
.contenedor{
  max-width: $max-width;
}