button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-bottom: 1px solid $gris;
	border-radius: 0;
	background: $color__background-button;
	color: $gris;
	line-height: 1;
	padding: 0 .1em;

	&:hover {
		border-bottom: 1px solid $negro;
		color: $negro;
	}

	&:active,
	&:focus {
		outline: none;
		border-bottom: 1px solid $negro;
		color: $negro;
	}
}