input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 0;
	-webkit-appearance: none;

	&:focus {
		color: $color__text-input-focus;
		outline: none;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;	
}

textarea {
	padding-left: 3px;
	width: 100%;
}