html {
  font: inherit;
}

body,
button,
input,
select,
textarea,
{
  color: $color__text-main;
  font-family: $font__main;
  line-height: $font__line-height-body;
  font-weight: 300;
  @include font-size(1.3750);
  text-rendering: optimizeLegibility;
  cursor: default;
  -webkit-font-smoothing: antialiased;

}
@include selection(){
  background-color: transparentize($rojo, .9);
  color: $negro;
}

@import "headings";

@import "copy";
