.portada{
  &__contenedor{
    position: relative;
    height: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: -$barra-superior__alto;
    background-color: $rojo;
  }

  &__imagen{
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  width: 100%;
  min-height: 350px;
  background-size: cover;
  background-position: center;
}

  &__contenedor-interno{
display: table;
    width: 100%;
    height: 90%;
  }
&__datos{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
  
  &__titulo{
    line-height: 1;
    font: inherit;
    color: white;
  }

}