$rojo: #DA291C;
$negro: #333;
$gris: #AAA;




$color__background-body: #fff;
$color__background-screen: #fff;
$color__background-hr: #fff;
$color__background-button: transparent;
$color__background-pre: transparent;
$color__background-ins: transparent;

$color__text-screen: #21759b;
$color__text-input: $negro;
$color__text-input-focus: $negro;
$color__link: $gris;
$color__link-visited: $gris;
$color__link-hover: $negro;
$color__text-main: $negro;

$color__border-button: transparent;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: $negro;
