@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat-helpers";

//$visual-grid: true;


// Neat Overrides
// $column: 90px;
 $gutter: 1em;
 $grid-columns: 1;
 $max-width: 1500px;

// Neat Breakpoints
$small-screen: 25em;
$medium-screen: 40em;
$large-screen: 65em;
$xlarge-screen: 90em;
$xxlarge-screen: 120em;

$s-up: new-breakpoint(min-width $small-screen 2);
$m-up: new-breakpoint(min-width $medium-screen 3);
$l-up: new-breakpoint(min-width $large-screen 6);
$x-up: new-breakpoint(min-width $xlarge-screen 12);
$xxl-up: new-breakpoint(min-width $xxlarge-screen 12);




@import "../bower_components/neat/app/assets/stylesheets/neat";
